<div class="author">
  <% prefix = "deliverable[people_attributes][]" %>
  <% fields_for :people do |author_form| -%>
    <div class="formItem indented"><p>
      Author: <input type="text" size="30" name="people[]" id="people_name" value="<%=  author.human_name %>"/>

<script type="text/javascript">
//<![CDATA[
//var user_human_name_auto_completer = new Ajax.Autocompleter('people_name', 'user_human_name_auto_complete', '/papers/auto_complete_for_user_human_name', {method:'get'})
var team_person_name2_auto_completer = new Ajax.Autocompleter('people_name', 'user_human_name_auto_complete', '/people.js', {frequency:0.5, method:'get', paramName:'search'})
//]]>
</script>

<!--
      Author: <%= author_form.text_field :name %>
Author:&nbsp;<%= text_field_with_auto_complete :user, :human_name, {}, {:method => :get}  %>
-->
      <%= link_to_function "remove", "$(this).up('.author').remove()" %>
    </p>
    </div>
    <% end -%>
</div>