<div class='team_member_photo'>
  <div class='label'><%= person.human_name %></div>
  <a href='http://rails.sv.cmu.edu/people/<%= person.twiki_name %>' target='_top'>
    <%= image_tag(person.image_uri, :border => 0, :height => 100, :alt => person.human_name+" image") %></a>
  <br>


</div>
