
<%=image_tag("/images/info_black.png", :width => "16", :height => "16", :class => "info_icon") -%>
<div class="info_dialog" id="tmp" style="display:none;">
  <%= display_timestamp(submission_date) -%>
</div>