<% content_for :title, "Upload Deliverable" %>

<h1>Edit Deliverable or Upload a New Attachment</h1>

<%= render :partial => "editable_form", :locals => {:button_name => "Update"} %>

<%= link_to 'Cancel', deliverable_path(@deliverable) %>

<br/>
<br/>