<% content_for :title, "Edit deliverable" %>
<% content_for :head do %>
<%# javascript_include_tag :defaults, :cache => true %>
<%= javascript_include_tag 'prototype' %>
<% end %>

<h1>Editing deliverable</h1>

<%= render :partial => "editable_form",:locals => { :button_name => "Update" } %>

<%= link_to 'Back', deliverables_path %>
<br/>
<br/>