<h1><%= link_to @course.display_for_course_page, course_path(@course), :class => "course" %></h1>
<%= render :partial=>"layouts/grade_book_sub_menu" %>

<h2 style="font-size: 17pt; text-align: left;">Submitted <%= nomenclature_assignment_or_deliverable%>s</h2>

<%= render :partial => "deliverable_listing_professor", :locals => {:deliverables => @deliverables, :skip_course_column => true} %>
<br/>

