<table>
    <tbody>
        <%= render(:partial => "team_member", :collection => @team.people) %>
    </tbody>
    <tfoot>
        <td colspan="7">
            <!-- ********** wheredoes ***** -->
            <%# form_remote_tag :url => { :action => :ajax_add_team_member, :team_id => @team.id }, :update => "list_team_members" do -%>
            Add a team member:&nbsp;<%# text_field_with_auto_complete :user, :human_name, {}, {:method => :get}  %>&nbsp;<%# submit_tag "Add" %>
            <%# end -%>
        </td>
    </tfoot>
</table>
