<% content_for :title, 'Page Comment Type' %>
<p>
  <b>Name:</b>
  <%= h @page_comment_type.name %>
</p>

<p>
  <b>Background color:</b>
  <%= h @page_comment_type.background_color %>
</p>


<%= link_to 'Edit', edit_page_comment_type_path(@page_comment_type) %> |
<%= link_to 'Back', page_comment_types_path %>
