<!-- <div style='border-right: solid 3px #7f7f7f;'> -->
<div id='filterBox'>
    Filter: <input id='filterBoxOne' value='Page is still loading' disabled maxlength='30' size='30' type='text' />
    <%= image_tag("/images/tablesorter/cross.png", :width=>"16", :height=>"16", :id=>"filterClearOne", :title=>'Click to clear filter.', :alt=>'Clear Filter Image') %>
</div>
