<script type="text/javascript">
    var RecaptchaOptions = {
        theme : 'clean'
    };
</script>


<% content_for :title, 'Whiteboard LMS for CMU-SV' %>

<%= javascript_include_tag 'password_reset' %>

<h1 xmlns="http://www.w3.org/1999/html">Reset account password</h1>

<form action="<%= password_resets_path%>" id="resetForm" method="post" role="reset" onsubmit="return validateResetForm()">

  <div>
    <label for="pe" class="screen-reader-text">Primary email</label> </br>
    <input type="text" id="primaryEmail" name="primaryEmail" value="" placeholder=<%="@#{GOOGLE_DOMAIN}"%>></br> </br>
    <label for="se" class="screen-reader-text">Secondary email</label> </br>
    <input type="text" id="personalEmail" name="personalEmail" value=""></br> </br>
    <div id="blank_email_warning"></div> <br/>
    <%= recaptcha_tags :ssl => true %>
    </br>
    <input type="submit" value="   Go   " id="resetSubmit">
  </div>
  </br>

</form>



