
.svn
.bundle
.bundle/config
.gems
.gems_old
20090827190915_mfse_add_people.rb

config/database.yml
config/google_apps.yml
config/amazon_s3.yml
config/morning_glory.yml
config/systems.cc.yml.yml
config/adobe_cnnect.yml
config/systems.yml

log/*
nbproject/*
.idea/*
MfSE/*
tmp/*
lib/views/*

README_personal

#sensitive student info
db/migrate/2008*
db/migrate/2009*
public/images/staff/*
public/images/students/*

push*.dat

