
.svn
.bundle
.gems
.gems_old
20090827190915_mfse_add_people.rb	

config/database.yml
config/google_apps.yml
config/amazon_s3.yml
config/systems.cc.yml.yml

log/*
nbproject/*
.idea/*
MfSE/*
tmp/*
lib/views/*

#sensitive student info
db/migrate/2008*
db/migrate/2009*
public/images/staff/*
public/images/students/*

push*.dat

