<%
 #Parameters: member_label
 member_label = local_assigns[:member_label].nil? ? "Person" : local_assigns[:member_label]
%>

<div class="person_in_a_collection">
  <% prefix = "paper[people_attributes][]" %>
  <%= fields_for :people do |author_form| -%>
    <div class="formItem indented ui-widget"><p>
      <%= member_label %>: <input type="text" size="30" name="people[]" class="people_name" id="people_name" value="<%=  person_in_a_collection.human_name %>"/>


<script type="text/javascript">
  $( ".people_name" ).autocomplete({
			source: '/people.json',
			minLength: 2
		});
    $(".remove_person").click(function() {
        $(this).parents('div.person_in_a_collection').remove();
    });
</script>
      <%= link_to "remove", "#", :class => "remove_person" %>
    </p>
    </div>
    <% end -%>
</div>