<!-- <div style='border-right: solid 3px #7f7f7f;'> -->

<div id='filterBoxUserSearch'>
  <!--Filter: -->
    <input id='filterBoxOne' value='Page is still loading' disabled maxlength='30' size='30' type='text' placeholder="Search for people here..." />
    <%= image_tag("/images/tablesorter/cross.png", :width => "16", :height => "16", :id => "filterClearOne", :title => 'Click to clear filter.', :alt => 'Clear Filter Image') %>

    <%= image_tag("/images/tablesorter/photo_book_gloss_red.png", :width => "32", :height => "32", :id => "filterBoxOne_photobook", :title => 'Click to clear filter.', :alt => 'Photo Book') %>
    <%= image_tag("/images/tablesorter/filter_gloss_red.png", :width => "32", :height => "32", :id => "filterBoxOne_filter", :title => 'Click to clear filter.', :alt => 'Filter') %>
    <%= image_tag("/images/tablesorter/search_gloss_red.png", :width => "32", :height => "32", :id => "filterBoxOne_search", :title => 'Click to clear filter.', :alt => 'Search') %>

</div>
