 <div class='team_member_photo'>
     <a href='http://rails.sv.cmu.edu/people/<%=person.twiki_name%>' target='_top'>
 <%= image_tag(person.image_uri, :border=>0, :height=>200, :alt=>person.human_name+" image") %></a>
 <br><div class='label'><%=person.human_name%></div></div>
