<% content_for :title, 'People - Search' %>

<% content_for :people_search do %>
    <%= stylesheet_link_tag 'people_search', :media => "screen", :rel => "stylesheet" %>
    <%= javascript_include_tag 'people_search' %>
<% end %>


<h1>People Search</h1>
<div class="right_link">
  <%= link_to 'See conference rooms', 'http://info.sv.cmu.edu/do/view/Main/CarnegieMellonSiliconValley' %>
</div>


<!-- UI Mockup HTML Migration -->
<div id="dialog_modal" title="Customization">
  <a id='customization_dialog_close' href='#'>[x]</a><br><br>
  <div id="modal_card" class="data_card">
    <input checked type="checkbox" name="Photo" value="cu_photo" /> Display Photo? <br>
    <img src="images/mascot.jpg"><br>
    <input checked type="checkbox" name="Name" value="cu_name" /> Name: ? <br>
    <input checked type="checkbox" name="Email" value="cu_email" /> Email: ? <br>
    <input type="checkbox" name="PhoneH" value="cu_phoneh" /> Phone(H): ? <br>
    <input type="checkbox" name="PhoneM" value="cu_phonem" /> Phone(M): ? <br>
    <input type="checkbox" name="Team" value="cu_team" /> Team: ? <br>
    <input type="checkbox" name="Company" value="cu_company" /> Company: ? <br>
  </div>
</div>


<div id="criteria_box" class="criterias">
  <input type="text" title="Search Text" id="search_text_box" style="background-color: #f3f0e9;"/> in
  <ul class="criteria_tags">
    <li class="criteria_tag" id="criteria_first_name" title="First Name" style="background-color: LightBlue;">First Name <a href="#">x</a> </li>
    <li class="criteria_tag" id="criteria_last_name" title="Last Name" style="background-color: LightGoldenRodYellow;">Last Name <a href="#">x</a> </li>
    <li class="criteria_tag" id="criteria_andrew_id" title="Andrew ID" style="background-color: Pink;">Andrew ID <a href="#">x</a> </li>
  </ul>
</div>
<select id="catGroup" class="criterias">
  <option value="all">All</option>
  <option value="student"> Student </option>
  <option value="staff"> Staff/Faculty </option>
  <option value="alumni"> Alumni </option>
</select>

<select id="criPicker" class="criterias">
  <option value="default" class="select-hint">Add Criteria</option>
  <option value="company">Company</option>
  <option value="class_year">Class Year</option>
  <option value="program">Program</option>
  <option value="ft_pt">Full/Part Time</option>
  <option value="course">Course</option>
  <option value="project">Project</option>
  <option value="team">Team</option>
</select>

<button type="button" id="submit_btn" class="criterias">Go</button><br>

<div id="criteria_box2" class="criterias">
  <ul class="criteria_tags">
    <li class="criteria_tag" id="criteria_company" title="Company" style="background-color: Orange;">
      Company: <input type="text" class="criteria_text" style="background-color: Orange;"/><a href="#">x</a> </li>
    <li class="criteria_tag" id="criteria_class_year" title="Class Year" style="background-color: Moccasin;">
      Class Year:
      <select class="criteria_text" style="background-color: Moccasin; width:56px;">
      </select>
      <a href="#">x</a>
    </li>
    <li class="criteria_tag" id="criteria_program" title="Program" style="background-color: Beige;">
      Program:
      <select class="criteria_text" style="background-color: Beige; width: 80px;">
        <option value="se_tech">SE-Tech</option>
        <option value="se_dm">SE-DM</option>
        <option value="sm">SM</option>
        <option value="ece">ECE</option>
        <option value="ini">INI</option>
      </select>
      <a href="#">x</a>
    </li>
    <li class="criteria_tag" id="criteria_ft_pt" title="Full/Part Time" style="background-color: LightBlue;">
      <select class="criteria_text" style="background-color: LightBlue; width: 86px;">
        <option value="ft">Full Time</option>
        <option value="pt">Part Time</option>
      </select>
      <a href="#">x</a>
    </li>
    <li class="criteria_tag" id="criteria_course" title="Course" style="background-color: PaleGreen;">
      Course: <input type="text" class="criteria_text" style="background-color: PaleGreen;"/> <a href="#">x</a> </li>
    <li class="criteria_tag" id="criteria_project" title="Project" style="background-color: LightGoldenRodYellow;">
      Project: <input type="text" class="criteria_text" style="background-color: LightGoldenRodYellow;"/> <a href="#">x</a> </li>
    <li class="criteria_tag" id="criteria_team" title="Team" style="background-color: Lavender;">
      Team: <input type="text" class="criteria_text" style="background-color: Lavender;"/> <a href="#">x</a> </li>
  </ul>
</div>

<input type="checkbox" id="exact_match_checkbox" name="exact_match" value="exact_match" /> Exact Match?



<br>
<a id="customization_link" href="#">Customization</a><br>
<a id="export_link" href="#">Export Results</a>
<br>
<div id="results_box"></div><br>

<!-- End of HTML Migration -->


<% if can? :create, User %>
    <%= link_to 'New person', new_person_path %>
<% end %>
