<%= content_for :title, "Feedback for #{@presentation.presenter}" %>
<h1>Feedback for <%= @presentation.presenter %></h1>
<p><%= @presentation.name %></p>

<% @form_path = edit_feedback_for_presentation_path %>
<%= render :partial => "editable_feedback_form", :locals => {:button_name => "Update"} %>
