<h1>Today's presentations</h1>

<%= render :partial => "index", :locals => { :presentations => @presentations_today } %>

<h1>Listing all presentations </h1>

<%= render :partial => "index", :locals => { :presentations => @presentations } %>
