<h1>Presentations for <%= @course.display_name %></h1>

    <%= render :partial => "presentation_listing", :locals => { :presentations => @presentations, :skip_course_column => true }%>
    <p><%= link_to "Assign new presentation",new_course_presentation_path(@course.id)%></p>
<br/>
<br/>
