<%= content_for :title, "Feedback for #{@presentation.presenter}" %>
<h1>Feedback for <%= @presentation.presenter %></h1>
<p><%= @presentation.name %></p>

<% @form_path = new_presentation_feedback_path %>
<%= render :partial => "editable_feedback_form", :locals => {:button_name => "Create"} %>

