

/* We disable reset.css, but then apply this to make the original CMU layout css work */
body div.sv_main_contents, div.sv_main_contents p,  div.sv_main_contents ol, div.sv_main_contents ul,  div.sv_main_contents td {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size:   13px;
   line-height: 18px;
  }

div.sv_main_contents p {
    margin-top: 13px;
    margin-bottom: 13px;
}

 body div.content, div.content p,  div.content ol, div.content ul,  div.content td {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size:   13px;
   line-height: 18px;
  }

/* We disable reset.css, but then apply this to make the original CMU layout css work */
div#topnav ul {
    padding: 0px;
    margin: 0px;
}

.content table.cmu_table tbody tr td {
    border-color: #EAE5E5;
    border-width: 1px;
    border-style: solid;
    padding: 0.25em 1em;
    font-size: 13px;
}

.content table.layout_table tbody td {
    border: 0px;
}



td.log_sum {
   padding-left: 10px;
   text-align: right;
}        

td.log_remove {
   padding-left: 10px; 
}

td.log_weeknumber {
    text-align: right;
    
}

td.log_action  {
    padding-left: 7px;
    
}

#description {
  color: green;
}

td.even {
    background-color: #eae5da;
    color: green;
}

td.today {
    background-color: #eae5da;
}



/* tables - http://tablesorter.com*/
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	table-layout: fixed;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
	text-transform: none;
}
#key_contacts_table th:first-child, #key_contacts_table td{
    overflow: auto;
}
#key_contacts_table th:first-child {
    /* this is the the header for the picture*/
    padding: 0;
    width: 60px;
}
#key_contacts_table th:nth-child(3){
    width: 150px;
}
#key_contacts_table th:nth-child(4){
    width: 210px;
}
#people_table th:first-child {
/* this is required for making sure cells with too much data don't throw the layout for a toss */
    white-space:nowrap;
    overflow: auto;
}
#people_table th:first-child {
/* this is the the header for the picture*/
    padding: 0;
    width: 60px;
}
#people_table th:nth-child(2),#people_table th:nth-child(3){
/* first name and last name columns */
   width: 100px;
}
#people_table th:nth-child(4) {
/* program(track)/staff column */
   width: 290px;
}
#people_table td.photobook-img {
    padding: 0px;
    margin: 0px;    
    width: 60px; 
}
#people_table td.photobook-img img {
    padding:0;
}
table.tablesorter thead tr .header {
	background-image: url(/images/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    text-transform: none;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: middle;
}
table.tablesorter tbody td.photobook-img {
    padding: 0px;
    margin: 0px;    
    width: 60px; 
    height: 82px;
}
table.tablesorter tbody td.photobook-img img {
    padding:0;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/images/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/images/tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

table.tablesorter tbody tr.hover td {
    background-color: #FFFFCC;
}


.comment_text {
    font-size: 12px;
}

.comment_new {
    font-size: 12px;
}

.comment_author {
    font-size: 12px;
    text-align: right;
    font-style: italic;
}

.comment_edit {
    font-size: 12px;
}

/* this group is from the same set of colors
    background-color:#F7E1AB;
    backbround-color:#DBE89A;
    background-color:#E0EBEB;
    background-color:#FFF499;
    */
/* this group is from a different set of colors
    background-color:#DDDDCC;
    background-color:#acc;

*/
.comment {
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;    
}

.comment_type_none {
    background-color: #DDDDCC;
}

.help_text {
    margin-left: 10px;
    font-size: 10px;
}

.checkboxed_form {
    margin-left: 24px;
}

.user_photo {
    float: right;
}


div.student {
    padding: 5px;
    margin: 5px;
/*    background-color: rgb(247, 225, 171); */
    border-radius: 10px;
}

div.staff {
    padding: 5px;
    margin: 5px;
    background-color: rgb(224, 235, 235);
    border-radius: 10px;
}

div.admin {
    padding: 5px;
    margin: 5px;
    background-color: rgb(221, 221, 204);
    border-radius: 10px;
}

div.system {
    padding: 5px;
    margin: 5px;
    background-color: rgb(219, 232, 154);
    border-radius: 10px;
}

tr.staff {
    background-color: rgb(224, 235, 235);
}



.student .instructions {
    vertical-align: top;
}
.staff .instructions {
    vertical-align: top;
}
.admin .instructions {
    vertical-align: top;
}


.formItem {
/*
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
*/
    padding: 6px 12px 8px;
/*    display: block;  */
}

.formItem .help_text {
    margin-left: 195px;
    font-size: 10px;
}

.formItem label {
     display: inline-block;
     width: 180px;
     font-size: 13px;
}
.formItem .label {
     display: inline-block;
     width: 180px;
     background-repeat: no-repeat;
}
.formItem input {
    border: 1px solid #999999;
    padding: 3px;
/*
    display: block;
    margin: 0 0 2px 190px;
*/
    }

.formItem .indented {
    margin_left: 10px;
}

.cmu_table .course_tools td {
    width: 140px;
}

#semester_length_courses_table {
    width: 100%;
}

#mini_b_courses {
    float: right;
}

#image_box {
position: absolute;
top: 0; right: 0;
z-index: 10;
background:#ffc;
padding:5px;
border:1px solid #CCCCCC;
text-align:center;
font-weight:bold;
width:200px;
}

div.right_link {
    text-align: right;
    margin-top: -27px;
}

.cmu_table {
border-collapse:collapse;
border-style:solid;
border-width:1px;
    border-color: #EAE5E5;
}



.cmu_table td.field_label {
    border-color: #EAE5E5;
    border-width: 1px;
    padding: 0.25em 1em;
    vertical-align: top;
}

.cmu_table_odd {
/*    background-color:#EBEBEB;*/
/*    background-color:#F2F3F6;*/
    background-color:#FbFbFb;
}

.cmu_table .icon {
    padding: 0px;
}

.header_subtext {
    margin-top: -10px;
    padding-left: 3px;
    padding-bottom: 10px;
}

.sv_main_contents {
    padding-left: 15px;
}

#email_from_header {
    width: 70px;
    float: left;
}
#email_subject_header {
    width: 70px;
    float: left;
}

/* Used in pages */
div.modified {
    text-align: right;
}

.sv_main_contents table {
    border-collapse:collapse;
}

.sv_main_contents table, .sv_main_contents th, .sv_main_contents td  {
    border: 1px solid black;
    padding: 10px;
}

.ui-datepicker-trigger {
	padding: 5px 0 0 5px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }


#sortable { list-style-type: none; margin: 0; padding: 0; width: 80%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span.ui-icon-arrowthick-2-n-s { position: absolute; margin-left: -1.3em; }

