/* not fixed*/
.team_member_photo {
    float: left;
    margin-right: 10px;
}

/* not fixed*/
.team_member_photo .label {
    text-align: center;
}

/* not fixed*/
.user_header_photo {
    float: left;
    padding: 0em 1em 0em 0em;
}

/* not fixed*/
.user_clear {
    clear: both;
}

/* From colors.css */
h1, h2, h3, h4, h5, h6 {
    color:#FF6600;
/* from style.css #patternPage */
    font-family: arial,verdana,sans-serif;
    font-weight:normal;
    line-height:1.1em;
}


/* From style.css */
h1 {
font-size:190%;
}

/* not fixed*/
.twikiTable th {  /*originally just th */

	line-height:1.15em;
}

.twikiTable {
    border-style:solid;
    border-width:1px;
    margin:1em 0;
    border-collapse:collapse;
}

.twikiTable td {
	padding:.25em 1em;
	border-width:1px;
}

.twikiTable th {
	border-left-style:solid;
	border-width:1px;
	padding:.3em 1em .6em 1em;

}

.twikiTable th.twikiFirstCol {
	border-left-style:none;
}



/* From colors.css */
/* TablePlugin */
.twikiTable,
.twikiTable td {
	border-color:#e7e9ef;
}

.twikiTable th {
	border-color:#fff;
}

.twikiTable th a:link,
.twikiTable th a:visited,
.twikiTable th a font {
	color:#252b37;
}




/* Todd's tweaks */
/* not fixed - maybe for latest twiki? */
.twikiTable td {
    vertical-align: top;
    
/* from style.css #patternPage */
	font-family:arial, verdana, sans-serif;
	line-height:1.4em; /*S1*/
	/* change font size here */
	font-size:105%;
    color: #000000;
}

.twikiTable th {
    font-family: arial,verdana,sans-serif;
}
}


/* not fixed*/
/* from colors.css */
.twikiTable :link:focus,
.twikiTable :visited:focus,
.twikiTable :link,
.twikiTable :visited,
.twikiTable :link:active,
.twikiTable :visited:active {
	color:#252B37;
	background-color:transparent;
}

/* not fixed*/
.twikiTable a:hover
{
	color:#666666;
}

.twikiTable th {
    background-color: #d8dde4;
    color: #252B37;
}


/* not fixed - maybe fixed ? */
.twikiTableEven {
    
    background-color: #f2f3f6;
}