<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>


<div>Google Username: <%= GOOGLE_USERNAME %></div>
<div>Google Domain: <%= GOOGLE_DOMAIN %></div>
<br/>
<div>TWiki Username: <%= TWIKI_USERNAME %></div>
<div>TWiki Url: <%= TWIKI_URL %></div>
<br/>


</body>
</html>