<% content_for :title, 'CMU-SV Rails Application' %>

<%# render :partial=>'rss_feeds/index', :locals => {:rss_feeds => @rss_feeds} %>

<% if current_user && (current_user.is_staff || current_user.is_admin) %>
<h2>Faculty views</h2>
<p><a href="/teams">All teams</a></p>
<h2>Admin notes</h2>
<p>The current semester is <%= current_semester() %>. The current time is <%= Time.now.to_s(:chatty)  %> </p>
<% end %>

<h2>New features</h2>
<p><%= link_to "New Features", new_features_path %></p>
<p><%= link_to "Google Mailing Lists", mailing_lists_path %></p>