<% content_for :title, 'New Features' %>

<p>10/15/2010 - <b>CMS</b> prototype of curriculum website is now ready</p>

<p>9/30/2010 - <b>Papers</b> prototype of papers is now ready.</p>

<p>7/1/2010 - <b>New production environment</b> -- our move to Heroku happened around here</p>

<p>5/15/2010 - <b>Auto create google and twiki accounts</b> When a new user is created, the system can create a correspoinding sv.cmu.edu email account and twiki account.</p>

<p>4/30/2010 - Thanks to Suresh Rajasekaran for writing code to see if a user is logging effort against the wrong courses.</p>

<p>4/1/2010 - <b>Team Email Lists</b> - are now created automatically - Thanks to Team Deming for providing this code in MfSE.</p>
<p>3/18/2010 - <b>Mailing Lists</b> - We can now see what <%= link_to "Google Mailing Lists", mailing_lists_path %> exist and who is on each one</p>

<p>3/14/2010 - Effort Logs can be created on Monday of the following week - Thanks to Team Crosby for providing this code in Mfse.
Special thanks for providing all the test cases to verify that the code works properly.</p>

<p>3/2/2010 - <b>My Teams (faculty view)</b> - Thanks to Team Juran for providing this code in MfSE.
Faculty can now easily see which teams they are teaching</p>

<p>2/23/2010 - <b>My Teams</b> - Thanks to Team Juran for providing this code in MfSE. 
Students can now easily see which teams they are on</p>

<p>2/5/2010 - <b>Peer Evalution tool integrated!</b>- Russel Reed wrote the initial version of the Peer
Evaluation tool which allows faculty members to record student learning objectives.
Student teams can do a 360 peer evaluation. Faculty can quickly see who hasn't
done the evaluation. The tool also generates a draft report for each student.
This entire process used to be very tedious for the faculty since we had to both
setup Survey Monkey and manually generate the student reports.
</p>


<p>
12/31/2009 - Added in Team Deming code from MfSE for sorting courses. Special
thanks to Evgueni Ratchev, Harish Suvarna, Gayatri Picha, Greg Hilton, and
Andrew Retelle for making this possible.
</p>

<p>
12/16/2009 - <b>RSS Integration</b> - Any news articles published on http://sv.cmu.edu
are linked from the rails app's home page.
</p>

<p>
11/30/2009 - Integrated twiki user page into rails database. Started the process
of moving user data from TWiki to rails database
</p>

<p>10/26/2009 - Photo Book created</p>

<p>10/22/2009 - List all email addresses for a course (for Ron)</p>

<p>10/19/2009 - configured apache and mongrel to allow the browser to cache static
content (ie images, javascript, css)</p>

<p>10/16/2009 - This project is now under continuous integration on a build machine!</p>

<p>10/7/2009 - Effort Logs - Faculty now get weekly reminders to check effort logs
for their courses.</p>

<p>9/4/2009 - User Data - this project now has all the data fields found in the
twiki application.</p>

<p>6/26/2009 - <b>Curriculum Website Comments</b> - Implemented feature suggested by
Mania Orand.</p>

<p>5/22/2009 - <b>Scotty Dog</b> is born and sends his first email.</p>

<p>3/25/2009 - Tablesorter introducted for people data and course data.</p>

<p>2/3/2009 - Effort Log for faculty. Now faculty can dog food!</p>

<p>1/16/2009 - <b>Suggestion Box</b> for new features and bug fixes</p>

<p>9/30/2008 - <b>Effort Reports</b></p>

<p>8/14/2008 - Andrew Id integration. </p>

<p>7/22/2008 - <b>Effort Log for students.</b></p>

<p>7/1/2008 - project started</p>