<p>Students have updated their effort logs for last week in your course.</p>
<p></p>

<p>Here's the data <a href="http://rails.sv.cmu.edu/effort_reports/<%= @course_id %>">Effort Reports</a> for <%= @course_name %> </p>


<p>Patrolling the campus,</p>

<p>Scotty Dog</p>
<br/>
<%= image_tag("http://rails.sv.cmu.edu/images/ScottyDogLandscape.jpg", :class => "bevel", :size => "236x69", :alt => "Picture of Scotty Dog") %> 
<br/>

  
