<p>To <%= @user.human_name %>,</p>
<p>This is a friendly reminder to inform you that the grace period to update this week's effort logs is expiring!</p>
<p><a href="http://whiteboard.sv.cmu.edu/effort_logs">To update your log effort</a></p>
<br/>
<br/>
<p>Patrolling the campus,</p>
<p>Scotty Dog</p>
<br/>
<%= image_tag("http://whiteboard.sv.cmu.edu/images/ScottyDogLandscape.jpg", :class => "bevel", :size => "236x69", :alt => "Picture of Scotty Dog") %>
<br/>
<p>Ps. Please put words in my mouth: <a href="http://whiteboard.sv.cmu.edu/scotty_dog_sayings">Scotty Dog Sayings</a>
</p>


