<p>To <%= @user.human_name %>,</p>
<p>Please update your effort logs today. Effort logs are due each week on Sunday by midnight (Pacific Time). You have a 24 hour grace period. You will not be able to create or edit after logs after the grace period.
  We don't   remember what we had for lunch yesterday and we don't think you'll remember what you were doing last week.</p>
<p><a href="http://whiteboard.sv.cmu.edu/effort_logs">To log effort</a></p>
<br/>
<br/>
<p>Patrolling the campus,</p>
<p>Scotty Dog</p>
<br/>
<%= image_tag(attachments['ScottyDogLandscape.jpg'].url, :class => "bevel", :size => "236x69", :alt => "Picture of Scotty Dog") %>
<br/>
<p>Ps. Please put words in my mouth: <a href="http://whiteboard.sv.cmu.edu/scotty_dog_sayings">Scotty Dog Sayings</a>
</p>

  
