<% content_for :title, 'Course Numbers' %>
<h1>Course Numbers</h1>

<table>
<% for course in @courses %>
  <tr>
    <td><%=h course.number %></td>
    <td><%=h course.name %></td>
  </tr>
<% end %>
</table>

<br />

<% if current_user && current_user.is_admin? %>
<%= link_to 'New course', new_course_path %>
<% end %>