<%# ziya_chart load_chart_url, :size => "900x600" -%>

<% content_for :title, 'Effort Reports' %>
<h1>Effort Reports</h1>


<%if current_user.is_staff || current_user.is_admin %>
<h2>Campus View</h2>
  <a href="<%=url_for :action=>"campus_semester", :id => params[:id], :week => nil, :only_path=>true%>">Campus semester view</a>
  <a href="<%=url_for :action=>"campus_week", :id => params[:id], :week => nil, :only_path=>true%>">Campus week view</a>
<% end %>

  <h2>Select a course</h2>
  <p><%= link_to "Pick a course", current_semester_path %></p>

<br/>
<br/>
