<h1>CK Editor</h1>

<%# javascript_include_tag :ckeditor %>
<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>


<% @page = Page.first %>

<%= form_for @page do |form| -%>
  ...
  <%= form.cktext_area :tab_one_contents, :toolbar => 'CMUSV', :height => 400 %>
  ...
  <%# cktext_area :page, :info %>
<% end -%>