Email
<blockquote>
  <p>Subject: Please let us know about your course Browser Security (Fall 2012)</p>

  <p>According to our records, you will be teaching the course Browser Security for the Fall 2012 semester.
    If this is not the case, please email ______. </p>


  <p>The curriculum webpage for your course is: http://whiteboard.sv.cmu.edu/pages/ruby</p>


  <p>Please fill in this quick form <%= link_to "Configure my course", "/static/course_configure" %> to ______</p>

  <p>Why do we ask for this information?</p>

  <p>Our students appreciate it since they often want to look at course materials before signing up for a course.
    Our IT department appreciates it since they can help setup the IT resources you need before your course starts.</p>

  <p>Regards,</p>

  <p>Scotty Dog</p>
</blockquote>