<h1>Job listings</h1>


<h2>Quick listing</h2>

<div>

  <table>
    <tr>
      <td>Project :</td>
      <td>Project name goes here  </td>
    </tr>
    <tr>
      <td>People assigned:</td>
      <td>Kaushik Gopal, Kaushik Gopal</td>
    </tr>
    <tr>
      <td>Must have skills:</td>
      <td></td>
    </tr>
    <tr>
      <td>Contact Person: </td>
      <td></td>
    </tr>
  </table>

</div>


<h2>Complete Job details</h2>

<div>


</div>


<br/>



<br/>

<br/>
<br/>
<br/>
<br/>