<script type="text/javascript">
  $(function() {
    $("td[inline-page-link]").parent().bind('click', function (event) {
        var $target = $(this).children(":first");
        $('html, body').stop().animate({
            scrollTop: $($target.attr("inline-page-link")).offset().top
        }, 500, 'swing');
    });
  });
</script>

<h1>Job listings</h1>


<div id="job-quick-list-container">

  <h2>Quick listing</h2>

  <table class="cmu_table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td inline-page-link="#project-1">Semantic Harmonization of Smart Grid Concepts</td>
      <td>Accepting</td>
    </tr>
    <tr>
      <td inline-page-link="#project-2">An Interchange Ontology for Mobile Sensor Platforms in Home Health Management</td>
      <td>Not Accepting</td>
    </tr>
    <tr>
      <td inline-page-link="#project-3">Ruby on Rails development</td>
      <td>Not Accepting</td>
    </tr>
    <tr>
      <td inline-page-link="#project-4">On-line Ad Auctions for Better Matching of Sellers and Buyers</td>
      <td> Closed</td>
    </tr>
  </tbody>
  </table>

</div>



<div id="job-detail-list-container">
  <h2>Complete Job details</h2>

  <div>
      <table class="cmu_table" id="project-1">
        <tr>
          <td colspan="2" class="header-row">Semantic Harmonization of Smart Grid Concepts</td>
        </tr>
        <tr>
          <td colspan="2">This project is in year 2 of a 3-year grant, and concerns the application of semantic modeling and querying techniques to demonstrate how the smart grid community can manage the large challenge of harmonizing definitions and relations among the standards being defined. The particular research will involve extending the work of Year 1, where a student developed a semantic query tool running on the Amazon cloud (see http://fsgim.sv.cmu.edu) that allowed arbitrarySPARQL queries to be applied to a model defined in OWL. A number of queries were predefined to allow people not familiar with SPARQL to explore the model. The point of this tool was to support validation of the model, checking, for example, how the datatypes were declared. Supporting this web application is a sophisticated commercial semantic modeling tool called TopBraid Composer, sold by TopQuadrant.
          In Year 2, we plan to: apply the same techniques to several other standards; extend the web query tool to allow navigation among the classes and relations via hyperlinks, using a technology called SPARQL Web Pages; explore automated suggestions for improvements to the models using automated reasoning techniques. You would be part of a team of four: one research faculty at CMU, two employees at TopQuadrant under contract to CMU, and yourself. You would be responsible for the web query tool.
          This project supports a major national effort to modernize the electrical grid, involving hundreds of companies and thousands of engineering professionals. You will have an opportunity to write a paper and present results at a national meeting.
          </td>
        </tr>
        <tr>
          <td>Must have skills:</td>
          <td>Experience with interactive web page design using Javascript</td>
        </tr>
        <tr>
          <td>Nice to have:</td>
          <td>Some experience with Semantic Web technology (RDF, OWL, SPARQL)</td>
        </tr>
        <tr>
          <td>Duration:</td>
          <td>Fall, Spring and Summer semesters, 10 hours per week. Would like a commitment for the full year.</td>
        </tr>
        <tr>
          <td>Contact People:</td>
          <td><a href="http://whiteboard.sv.cmu.edu/people/SteveRRay">steve.ray@sv.cmu.edu</a></td>
        </tr>
        <tr>
          <td>Assigned People</td>
          <td><a href="http://whiteboard.sv.cmu.edu/people/YuvaDatla">Yuva Datla</a></td>
        </tr>
        <tr class="faculty-visible">
          <td>Funding</td>
          <td>Oracle</td>
        </tr>
        <tr>
          <td colspan="2" class="top" inline-page-link="#job-quick-list-container">Go to quick list</td>
        </tr>
      </table>

      <table class="cmu_table" id="project-2">
        <tr>
          <td colspan="2" class="header-row">An Interchange Ontology for Mobile Sensor Platforms in Home Health Management</td>
        </tr>
        <tr>
          <td colspan="2">This project is in year 2 of a 3-year grant, and concerns the application of ontological engineering methods to the use of mobile sensor platforms in the home health management domain. To date we have defined a simple ontology and a mapping to a standard (IEEE 11073) for exchanging health monitoring data, such as blood pressure, pulse rate, temperature, etc. This year we will explore two tasks:
          1.    Building a proof of concept smart phone app that automatically converts health monitoring data into IEEE 11073-compatible form using the ontology,
          2.    Apply automated reasoning techniques to validate portions of the IEEE 11073 standard after converting it into an OWLrepresentation.
          </td>
        </tr>
        <tr>
          <td>Must have skills:</td>
          <td>Experience with mobile device app development</td>
        </tr>
        <tr>
          <td>Nice to have:</td>
          <td>Some experience with Semantic Web technology (RDF, OWL, SPARQL) would be preferred</td>
        </tr>
        <tr>
          <td>Duration:</td>
          <td>Fall, Spring and Summer semesters, 10 hours per week. Would like a commitment for the full year</td>
        </tr>
        <tr>
          <td>Contact People:</td>
          <td><a href="http://whiteboard.sv.cmu.edu/people/SteveRRay">steve.ray@sv.cmu.edu</a></td>
        </tr>
        <tr>
          <td>Assigned People</td>
          <td><a href="http://whiteboard.sv.cmu.edu/people/MarkHennessy">Mark Hennessy</a></td>
        </tr>
        <tr class="faculty-visible">
          <td>Funding</td>
          <td>Oracle</td>
        </tr>
        <tr>
          <td colspan="2" class="top" inline-page-link="#job-quick-list-container">Go to quick list</td>
        </tr>
      </table>

      <table class="cmu_table" id="project-3">
        <tr>
          <td colspan="2" class="header-row">Ruby on Rails development </td>
        </tr>
        <tr>
          <td colspan="2">We’ll be modifying and enhancing two open sourced Ruby on Rails websites. The first site is our education rails application. The second is a destination site for the software craftsmanship community. The student will also help promote the site with the community. Ideally, I'm looking for someone who loves working with Rails and may be interested in using it in their next job.</td>
        </tr>
        <tr>
          <td>Must have skills:</td>
          <td>Experience working with Ruby on Rails</td>
        </tr>
        <tr>
          <td>Duration:</td>
          <td>Fall, Spring and Summer semesters, 10 hours per week. Would like a commitment for the full year</td>
        </tr>
        <tr>
          <td>Contact People:</td>
          <td><a href="http://whiteboard.sv.cmu.edu/people/ToddSedano">todd.sedano@sv.cmu.edu</a></td>
        </tr>
        <tr>
          <td>Assigned People</td>
          <td><a href="http://whiteboard.sv.cmu.edu/people/KaushikGopal">Kaushik Gopal</a></td>
        </tr>
        <tr class="faculty-visible">
          <td>Funding</td>
          <td>CMUSV</td>
        </tr>
        <tr>
          <td colspan="2" class="top" inline-page-link="#job-quick-list-container">Go to quick list</td>
        </tr>
      </table>

      <table class="cmu_table" id="project-4">
        <tr>
          <td colspan="2" class="header-row">On-line Ad Auctions for Better Matching of Sellers and Buyers</td>
        </tr>
        <tr>
          <td colspan="2">This project is about improving on-line auctions of ads, both their underlying algorithms and user interfaces.  There is a buyer agent and a seller agent, which we now discuss briefly.  For the buyer agent, user experience is king.  Issues to consider include how we present information and choices to the buyer; this will determine the success of the whole system. In addition to the main job of the buyer agent (presenting offers, accepting ads), this agent will compute indications of intent, create a unique user ID (for payment, finding duplicate ads, etc.) and provide satisfaction feedback. There will also be a redirection for actually buying the product/service that is offered in the ad (which we need for tracking and the reputation server). Depending on the community, there may be a requirement for a mobile user interface.

          Second, we briefly discuss the seller agent. The seller agent is offering up ads for negotiated fees, receiving feedback on new potential customers, and evaluating the “quality” of current potential customers.
          The project will involve studying previous related work on on-line ad auctions, developing improved algorithms for matching buyers and sellers, and developing new user interface concepts.
          </td>
        </tr>
        <tr>
          <td>Contact People:</td>
          <td><a href="http://whiteboard.sv.cmu.edu/people/OleMengshoel">Ole Mengshoel</a></td>
        </tr>
        <tr class="faculty-visible">
          <td>Funding</td>
          <td>Oracle</td>
        </tr>
        <tr>
          <td colspan="2" class="top" inline-page-link="#job-quick-list-container">Go to quick list</td>
        </tr>
      </table>


  </div>

</div>


<br/>



<br/>

<br/>
<br/>
<br/>
<br/>