<h1>New Status Report</h1>

<div><p>What did you accomplish this last week? (e.g. I wrote the introduction to the architecture document.)</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="10">PPM
    -
    -
    -

    Architecture
    -
    -
    -
  </textarea>
</div>
<br/>

<div><p>What will you do this week?</p>
  <textarea cols="95" id="evaluation_2_comment" name="evaluation[1][comment]" rows="10">PPM
    -
    -
    -

    Architecture
    -
    -
    -
  </textarea>
</div>
<br/>

<div><p>What obstacles are impeding your progress?</p>
  <textarea cols="95" id="evaluation_3_comment" name="evaluation[1][comment]" rows="10">PPM
    -
    -
    -

    Architecture
    -
    -
    -
  </textarea>
</div>
<br/>

<br/>
<br/>
<br/>
<br/>

<h2>Open issues</h2>
<p>Here we show an empty status report that is simply populated with the courses the student is registered. We could
  complicate things by asking these three questions individualy for each course. It would make the UI much more
  complicated and I think I would hate to use it myself. The downside is that the server will not do anything
  intelligent in trying to parse this informaition on the faculty screen.</p>

      