<h1>Status Reports Mockups</h1>

<br/>
<h2>Student View</h2>
<p><%= link_to "Index", "/static/status_report_index" %></p>
<p><%= link_to "New", "/static/status_report_new" %></p>

<h2>Faculty View</h2>

<p><%= link_to "Weekly Summary", "/static/status_report_summary" %></p>

<br/>
<h2>Notes:</h2>
<p>The course faculty would receive an email monday morning with a link to the status report summary. A link would
  also appear on the course tools page.</p>


<br/>
<br/>