<h1>Status Report Summary</h1>
<p>For week 24 of 2008 (Jun 09, 2008)</p>

<h2>Team Maximilian</h2>

<h3>Sam Boximar</h3>
<div><p>What did you accomplish this last week?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="10">PPM
    - The goal for this week was to interact with the designers so that the final mocks could be converted into
    individual assets that could be incorporated into the application.
    - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen aspect
    ratios to support. A lot of time was allotted for the developers to communicate with the designers the unique
    requirements of preparing artwork for Android.
    - Another goal was to fix bugs in the components already implemented so that the application was ready for release
    within the organization.
  </textarea>
</div>

<div><p>What will you do this week?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="10">PPM
    - The goal for this week was to interact with the designers so that the final mocks could be converted into
    individual assets that could be incorporated into the application.
    - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen aspect
    ratios to support. A lot of time was allotted for the developers to communicate with the designers the unique
    requirements of preparing artwork for Android.
    - Another goal was to fix bugs in the components already implemented so that the application was ready for release
    within the organization.
  </textarea>
</div>

<div><p>What obstacles are impeding your progress?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="10">PPM
    - The goal for this week was to interact with the designers so that the final mocks could be converted into
    individual assets that could be incorporated into the application.
    - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen aspect
    ratios to support. A lot of time was allotted for the developers to communicate with the designers the unique
    requirements of preparing artwork for Android.
    - Another goal was to fix bugs in the components already implemented so that the application was ready for release
    within the organization.
  </textarea>
</div>


<h3>Borys Sginrs</h3>

<div><p>What did you accomplish this last week?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="10">PPM
    - The goal for this week was to interact with the designers so that the final mocks could be converted into
    individual assets that could be incorporated into the application.
    - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen aspect
    ratios to support. A lot of time was allotted for the developers to communicate with the designers the unique
    requirements of preparing artwork for Android.
    - Another goal was to fix bugs in the components already implemented so that the application was ready for release
    within the organization.
  </textarea>
</div>

<div><p>What will you do this week?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="10">PPM
    - The goal for this week was to interact with the designers so that the final mocks could be converted into
    individual assets that could be incorporated into the application.
    - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen aspect
    ratios to support. A lot of time was allotted for the developers to communicate with the designers the unique
    requirements of preparing artwork for Android.
    - Another goal was to fix bugs in the components already implemented so that the application was ready for release
    within the organization.
  </textarea>
</div>

<div><p>What obstacles are impeding your progress?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="10">PPM
    - The goal for this week was to interact with the designers so that the final mocks could be converted into
    individual assets that could be incorporated into the application.
    - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen aspect
    ratios to support. A lot of time was allotted for the developers to communicate with the designers the unique
    requirements of preparing artwork for Android.
    - Another goal was to fix bugs in the components already implemented so that the application was ready for release
    within the organization.
  </textarea>
</div>


<h2>Team Layout</h2>

<p>...</p>

<h2>Team WartHog</h2>

<p>...</p>