<h1>Status Reports Mockups</h1>

<br/>
<h2>Student View</h2>
<p><%= link_to "Index", "/static/status_report_index" %></p>
<p><%= link_to "New", "/static/status_report_new" %></p>

<h2>Faculty View</h2>
<p><%= link_to "Weekly Summary", "/static/status_report_summary" %></p>
<p><%= link_to "Weekly Summary (Alternative)", "/static/status_report_summary_alt" %></p>

<br/>
<br/>