<h1>New Status Report</h1>

<div><p>What did you individually accomplish this last week? (e.g. I wrote the introduction to the architecture document.)</p>
            <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">PPM
-
-
-
</textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">
Architecture
-
-
-
</textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">
Practicum
-
-
-
</textarea>
</div>
        <br/>

<div><p>What will you individually do  this  week?</p>
            <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">PPM
-
-
-
</textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">
Architecture
-
-
-
</textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">
Practicum
-
-
-
</textarea>
</div>
        <br/>

<div><p>What obstacles are impeding your progress?</p>
            <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">PPM
-
-
-
</textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">
Architecture
-
-
-
</textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">
Practicum
-
-
-
</textarea>
</div>
        <br/>
<div><p>How will you overcome these obstacles?</p>
            <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">PPM
-
-
-
</textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">
Architecture
-
-
-
</textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="5">
Practicum
-
-
-
</textarea>
</div>
        <br/>
<div><p>How many hours did you spend on this course during the last week?</p>
  <table class="layout_table">
<tr><td>PPM</td><td><p></p><input size="5" id="evaluation_1_comment" name="evaluation[1][comment]" placeholder="3.5"> hours</p></td></tr>
    <tr><td>Architecture</td><td><p></p><input size="5" id="evaluation_1_comment" name="evaluation[1][comment]" placeholder="3.5"> hours</p></td></tr>
    <tr><td>Practicum</td><td><p></p><input size="5" id="evaluation_1_comment" name="evaluation[1][comment]" placeholder="3.5"> hours</p></td></tr>
  </table>
</div>
        <br/>

<br/>
<br/>
<br/>
<br/>

<h2>Open issues</h2>
<p>Here we show an empty status report that is simply populated with the courses the student is registered. </p>

      