<h1>New Status Report</h1>

<div><p>This was your plan for this week.</p>

  <table class="cmu_table">
    <tr class="cmu_table_odd">
      <td>
        <p>
          PPM<br/>
          - The goal for this week was to interact with the designers so that the final mocks could be converted into
          individual assets that could be incorporated into the application.<br/>
          - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen
          aspect ratios to support. A lot of time was allotted for the developers to communicate with the designers the
          unique requirements of preparing artwork for Android.<br/>
          - Another goal was to fix bugs in the components already implemented so that the application was ready for
          release within the organization.
        </p>
      </td>
    </tr>
    <tr class="cmu_table_even">
      <td>
        <p>
          Architecture<br/>
          - The goal for this week was to interact with the designers so that the final mocks could be converted into
          individual assets that could be incorporated into the application.<br/>
          - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen
          aspect ratios to support. A lot of time was allotted for the developers to communicate with the designers the
          unique requirements of preparing artwork for Android.<br/>
          - Another goal was to fix bugs in the components already implemented so that the application was ready for
          release within the organization.
        </p>
      </td>
    </tr>
    <tr class="cmu_table_odd">
      <td>
        <p>
          Practicum<br/>
          - The goal for this week was to interact with the designers so that the final mocks could be converted into
          individual assets that could be incorporated into the application.<br/>
          - The Android landscape is highly fragmented with a multitude of screen sizes, pixel densities and screen
          aspect ratios to support. A lot of time was allotted for the developers to communicate with the designers the
          unique requirements of preparing artwork for Android.<br/>
          - Another goal was to fix bugs in the components already implemented so that the application was ready for
          release within the organization.
        </p>
      </td>
    </tr>
  </table>
</div>
<br/>
<div><p>What did you individually accomplish this last week? (e.g. I wrote the introduction to the architecture
  document.)</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">PPM
    -
    -
    -
  </textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">
    Architecture
    -
    -
    -
  </textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">
    Practicum
    -
    -
    -
  </textarea>
</div>
<br/>

<div><p>How many hours did you spend on this course during the last week?</p>
  <table class="layout_table">
    <tr>
      <td>PPM</td>
      <td><p></p><input size="5" id="evaluation_1_comment" name="evaluation[1][comment]" placeholder="3.5"> hours</p>
      </td>
    </tr>
    <tr>
      <td>Architecture</td>
      <td><p></p><input size="5" id="evaluation_1_comment" name="evaluation[1][comment]" placeholder="3.5"> hours</p>
      </td>
    </tr>
    <tr>
      <td>Practicum</td>
      <td><p></p><input size="5" id="evaluation_1_comment" name="evaluation[1][comment]" placeholder="3.5"> hours</p>
      </td>
    </tr>
  </table>
</div>
<br/>



<div><p>What obstacles are impeding your progress?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">PPM
    -
    -
    -
  </textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">
    Architecture
    -
    -
    -
  </textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">
    Practicum
    -
    -
    -
  </textarea>
</div>
<br/>
<div><p>How will you overcome these obstacles?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">PPM
    -
    -
    -
  </textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">
    Architecture
    -
    -
    -
  </textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">
    Practicum
    -
    -
    -
  </textarea>
</div>
<br/>

<div><p>What will you individually do this week?</p>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">PPM
    -
    -
    -
  </textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">
    Architecture
    -
    -
    -
  </textarea>
  <textarea cols="95" id="evaluation_1_comment" name="evaluation[1][comment]" rows="7">
    Practicum
    -
    -
    -
  </textarea>
</div>
<br/>

<br/>
<br/>
<br/>
<br/>

<h2>Notes:</h2>
<p>Here we show an empty status report that is populated with the courses that have turned on the status report feature.
  Alternatively we could show all the courses the student is registered.</p>

      