<% content_for :title, "Update Attachment" %>

<h1>Update Attachment</h1>

<%= render :partial => "editable_form",:locals => { :button_name => "Update" } %>


<%= link_to 'Cancel', @page_attachment.page %>

<br/>
<br/>