<%= content_for :title, "New page attachment" %>
<%= content_for :head do %>
<% end %>

<h1>New page attachment</h1>

<%= render :partial => "editable_form",:locals => { :button_name => "Attach" } %>

<%= link_to 'Cancel', @page_attachment.page %>
<br/>
<br/>