<% content_for :title, "New paper" %>
<% content_for :head do %>
<%# javascript_include_tag :defaults, :cache => true %>
<%= javascript_include_tag 'prototype' %>
<% end %>

<h1>New paper</h1>

<%= render :partial => "editable_form_tmp",:locals => { :button_name => "Create" } %>

<%= link_to 'Back', papers_path %>
<br/>
<br/>