<h1>Edit Allocation</h1>

<%= render :partial => "form", :locals => { :button_name => "Update" } %>

<% if current_user.is_admin %>
<%= link_to 'Back', sponsored_project_allocations_path %>
<% end %>
<br/>
<br/>