<% content_for :title, 'Edit Course - ' + @course.name %>
<h1>Editing course</h1>

<%= render :partial => "form_create", :locals => { :button_name => "Update" } %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
