<% content_for :title, 'New Course' %>
<%= javascript_include_tag 'prototype' %>
<h1>New course</h1>

<%= render :partial => "form_create", :locals => { :button_name => "Create" } %>


<%= link_to 'Back', courses_path %>

