<table>
 <% @students.each do |student| %>
     <tr>
        <td><%=student.human_name%></td>
        <% GradeBook.get_scores(@course, student).each do |grade_book| %>
          <td><input value='<%= grade_book.score %>'/></td>
        <% end %>
    </tr>
  <%end%>
</table>
