<!--
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
        //<![CDATA[
$(document).ready(function(){
    page = 'http://rails.sv.cmu.edu/curriculum_comments';
    page = 'http://localhost:3000/curriculum_comments';
    $('#comments').load(page);
});

//]]>

</script>
<div id="comments"/>
-->


<!-- Copyright 2003-2008, Carnegie Mellon University, http://west.cmu.edu -->
<title>Architecture</title>
<link rel="stylesheet" type="text/css" href="http://curriculum.sv.cmu.edu/architecture_se/lib/styles/main.css">
<link rel="stylesheet" type="text/css" href="http://curriculum.sv.cmu.edu/architecture_se/lib/styles/system.css">
<script language="JavaScript" src="http://curriculum.sv.cmu.edu/architecture_se/lib/scripts/common1.js"
	type="text/javascript"></script>
<script language="JavaScript" src="http://curriculum.sv.cmu.edu/architecture_se/lib/scripts/common2.js"
	type="text/javascript"></script>
<script type="text/javascript" src="http://curriculum.sv.cmu.edu/architecture_se/lib/scripts/course.js"></script>
<script type="text/javascript" src="http://curriculum.sv.cmu.edu/architecture_se/lib/scripts/auto.js"></script>

<link rel="stylesheet" type="text/css"
	href="http://curriculum.sv.cmu.edu/architecture_se/lib/styles/auto0mainPage.css">
<link rel="stylesheet" type="text/css"
	href="http://curriculum.sv.cmu.edu/architecture_se/lib/styles/auto2mainMenu.css">
<link rel="stylesheet" type="text/css" media="print" href="http://curriculum.sv.cmu.edu/architecture_se/lib/styles/print.css" />
<link rel="stylesheet" type="text/css" href="http://curriculum.sv.cmu.edu/architecture_se/lib/styles/accordion.css">

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://localhost:3000/javascripts/jquery.corners.js"></script>
<!-- this next bit can be placed on left-nav.shtml -->
<script type="text/javascript">
        //<![CDATA[
$(document).ready(function(){
    page = 'http://localhost:3000/curriculum_comments';
    $('#comments').load(page);
    $('.rounded').corners();

});

//]]>

</script>


<body bgcolor="white" onLoad="runOnloadFunctions()" class="dummyClass">
<table border="0" width="760" height="300" align="center"
	cellpadding="0" cellspacing="0">
	<tr>
		<td width="760" valign="top"><script type="text/javascript">
setGlobal("numPopups", 0);
setGlobal("numLinks", 0);

</script>
		<table width="760" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td height="61" background="http://curriculum.sv.cmu.edu/architecture_se/lib/images/site/top_ban_img.gif"
					valign="middle">
				<div class="courseTitle">Architecture</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" width="760" height="14" bgcolor="white"></td>

			</tr>
		</table>
		<table width="760" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width=261 valign="top" height="100%">
<script type="text/javascript">
/*
jQuery().ready(function(){
  jQuery('#navigation').Accordion({
    active: false,
    header: '.head',
    navigation: true,
    event: 'mouseover',
    autoheight: true,
    animated: 'easeslide'
  });
});
*/
</script>



	<div  style="height:250px;margin-bottom:1em">

			<ul id="navigation">

				<li>
                    <a class="title" href="http://curriculum.sv.cmu.edu/architecture_se/index.shtml">Architecture</a>
					<ul>
<!--						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/syllabus.shtml">Syllabus</a></li> -->
                                                <li><a href="http://curriculum.sv.cmu.edu/architecture_se/task01/requirements.shtml">Task 1. Research on Pipes and Filters</a></li>
						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/task02/requirements.shtml">Task 2. Research on P2P Architectures</a></li>

						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/task03/requirements.shtml">Task 3. Research on Event-based Architectures</a></li>
						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/task04/requirements.shtml">Task 4. Research on SOA</a></li>
						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/task06/requirements.shtml">Task 5. Presentation of an Architectural Style</a></li>
						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/task07/requirements.shtml">Task 6. Sea Buoy Architecture</a></li>
						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/task08/requirements.shtml">Task 7. Software Architecture Selection</a></li>
						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/task09/requirements.shtml">Task 8. Software Architecture Documentation</a></li>

						<li><a href="http://curriculum.sv.cmu.edu/architecture_se/task10/requirements.shtml">Task 9. Retrospective</a></li>
  					</ul>
				</li>
			</ul>
		</div>
        <div id="comments" />
				</td>
				<td background="http://curriculum.sv.cmu.edu/architecture_se/lib/images/site/background.gif"
					class="pageContentContainerStyle" width=499 valign="top">
				<table width="499" border="0" cellpadding="0" cellspacing="0">

					<tr>
						<td width="7"></td>
						<td colspan="3" width="492">
						<div class="taskHeaderDiv">Task 1. Research on Pipes and
						Filters</div>
						</td>
					</tr>
				</table>
				<br>

				<table width="493" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td width="0"></td>
						<td colSpan="3" width="492" height="349" valign="top">
						<table width="492" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td width="123"><img alt="Project requirements"
									src="http://curriculum.sv.cmu.edu/architecture_se/lib/images/site/tabs/tab1_on.gif"></td>
								<td width="123"><a href="help.shtml"
									onmouseover="rollon('button1');"
									onmouseout="rolloff('button1');"><img name="button1"
									src="http://curriculum.sv.cmu.edu/architecture_se/lib/images/site/tabs/tab2_off.gif"
									onclick="return true" BORDER="0" alt="Help"></a></td>
								<td width="123"><a href="submit.shtml"
									onmouseover="rollon('button2');"
									onmouseout="rolloff('button2');"><img name="button2"
									src="http://curriculum.sv.cmu.edu/architecture_se/lib/images/site/tabs/tab3_off.gif"
									onclick="return true" BORDER="0" alt="Submitting your work"></a></td>

								<td width="123"></td>
							</tr>
							<tr>
								<td colSpan="4" bgcolor="#990000" height="5" width="492"></td>
							</tr>
							<tr>
								<td colSpan="4" width="492">
								<div class="tabContent">
								<div class="pageContentDiv">

								<div class="pageContentDiv2">
								<p align="right"><a href="requirements.shtml"
									onClick="window.print();">Printable version</a></p>
								<br>
								<style>
.hilite {
text-decoration:underline;
cursor:hand;
}
.plain{
text-decoration:none;
cursor:hand;
}
.selected{
background-color:#CCCCCC;
}
.emailHeaderFont{
font-size:10px;
}
.emailInBox{
}
</style>
								<script type="text/javascript">
function hiliteLine(id){
var obj = findObject(id);
obj.className = "hilite";
}
function unhiliteLine(id){
var obj = findObject(id);
obj.className = "plain";
}
</script>
								<div class="emailInboxContainer">
								<table class="emailInbox" cellpadding="0" cellspacing="0"
									border="0" width="455"
									summary="This table represents an email in-box.  There are four columns:  column 1 holds an attachment icon for those messages that have attachments.  Column 2 indicates who the email is 'from'.  Column 3 is a spacer and can be ignored.  Column 4 is the email 'subject'.">

									<tr>
										<th id="icon" align="left" width="20" height="15px"></th>
										<th id="from" align="left" width="230">From</th>
										<th id="spacer" width="10"></th>
										<th id="subject" align="left" width="195">Subject</th>
									</tr>
									<tr class="selected" id="inboxLine1">
										<td headers="icon" "height="15" width="20"><img
											src="http://curriculum.sv.cmu.edu/architecture_se/lib/images/site/emailtext.gif" alt="attachment icon"
											align="middle" hspace="2"></td>

										<td headers="from" width="230" valign="middle"><span
											class="emailHeaderFont">VP of Engineering</span></td>
										<td headers="spacer" width="10"></td>
										<td headers="subject" width="195" valign="middle"><span
											class="emailHeaderFont">Identify Architectural Styles:
										Pipes and Filters</span></td>
									</tr>
									<tr>
										<td colSpan="4" height="2" width="455"></td>
									</tr>
								</table>

								</div>
								<br />
								<strong>From:</strong> VP of Engineering<br />
								<strong>Subject:</strong> Identify Architectural Styles: Pipes
								and Filters<br />
								<strong>Attachment:</strong> <a
									href="http://curriculum.sv.cmu.edu/architecture_se/downloads/Architecture_Description_Template.doc"
									target="_blank">Architecture Description Template</a><br />

								<br />
								<p>Hi,</p>
								<p>Thanks for completing the requirements documentation for
								the new software.</p>
								<p>The next step is to start working on a Software
								Architecture Definition. Before you get started, I'd like you to
								learn about architectures and styles. Our architectural
								consultant identified some product architectures that are good
								examples of different architectural styles. I'd like you to
								research these products and write a short description of each
								architecture. I've attached a template to guide your work.</p>
								<p>The first architectural style I'd like you to look at is
								pipes and filters. A good example of the use of this style is
								the Sony Vegas product, which provides video and audio editing.
								I've included some references on this product, as well as some
								general information on the pipes and filters architectural
								style.</p>
								<p>Once you have a basic understanding of architecture,
								we'll start designing the architecture for the new product.</p>

								<p>Best,<br>
								-Vice President of Engineering</p>
								</div>
								</div>
								</div>
								</td>
							</tr>
						</table>

						</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		<div class="copyright"><br />
		<br />
		Copyright &copy; 2003-2008 <a href="http://west.cmu.edu"
			target="_blank">Carnegie Mellon University</a>. All rights reserved.</div>

		</td>
	</tr>
</table>

</body>
</html>
