<% content_for :title, 'New Suggestion' %>

<h1>New Suggestion or New Issue</h1>
<p>Please add your <%= link_to "suggestion here", "https://github.com/professor/whiteboard/issues" %>.</p>
<p>As a software development project, we use github to manage this project. Because most software developers have a github account,
  we find this convenient as most of our students and many of our faculty already have accounts. This provides visibility and a conversation
  around any open issues. </p>
<p>If you would rather not deal with github, then you can mail your issue to <a href="mailto:whiteboard@sv.cmu.edu">whiteboard@sv.cmu.edu</a>, and we will post an
  issue to github on your behalf. You will not be automatically notified on progress on your issue.
</p>

<br/>

<br/>
<h1>Documentation</h1>
<p>Limited documentation is <%= link_to "available here", "http://rubydoc.info/github/professor/whiteboard/frames" %>.
  Please submit an issue for any missing documentation. If you want to enhance the documentation, do so and submit a
  <%= link_to "pull request", "http://rubydoc.info/github/professor/whiteboard/file/doc/Git_Directions.rdoc" %></p>
<br/>
<br/>


<p><%= link_to 'Back', request.env["HTTP_REFERER"] unless request.env["HTTP_REFERER"].nil? %></p>