<% content_for :title, 'New Suggestion' %>

<h1>New Suggestion</h1>
<p>Please add your <%= link_to "suggestion here", "https://github.com/professor/cmusv/issues" %>.
</p>

<br/>

<br/>
<h1>Documentation</h1>
<p>Limited documentation is <%= link_to "available here", "http://rubydoc.info/github/professor/cmusv/frames" %>.
  Please submit an issue for any missing documentation. If you want to enhance the documentation, do so and submit a
  <%= link_to "pull request", "http://rubydoc.info/github/professor/cmusv/file/doc/Git_Directions.rdoc" %></p>
<br/>
<br/>


<p><%= link_to 'Back', request.env["HTTP_REFERER"] unless request.env["HTTP_REFERER"].nil? %></p>