<ul>
  <li class="secondaryNavTop"><%= link_to "Grading Configuration", configure_course_path(@course)%></li>
  <li class="secondaryNavTop"><%= link_to "Manage #{nomenclature_assignment_or_deliverable}s", course_assignments_path(@course)%></li>
  <li class="secondaryNavTop"><%= link_to "Pending List", course_deliverables_path(@course)%></li>
  <li class="secondaryNavTop"><%= link_to "Grade Book", course_grades_path(@course)%></li>
</ul>
